<div class="row">
  <div class="col m6 offset-m3">

    <h1>Editar tarefas</h1>

    <%= render 'form', task: @task %>

    <%= link_to 'Show', @task , class: "waves-effect waves-light btn teal accent-4"%>
    <%= link_to 'Back', tasks_path , class: "waves-effect waves-light btn teal accent-4"%>
  </div>
</div>
