<div class="card">
  <span class="card-title">Projeto</span>
  <%= link_to "Ver todos os projetos" , projects_path, class: "link" %>
</div>


<% if @projects == nil%>
<h2>Parar criar um tarefa precisa primeiro criar um projeto</h2>
<% else %>
<div class="card">
  <span class="card-title">Tarefas</span>
  <%= link_to "Ver todos os tarefas" , tasks_path, class: "white-text" %>
</div>
<% end %>
