<div class="row">
  <div class="col m6 offset-m3">
    <h1>Novo Projeto</h1>
    <%= render 'form', project: @project %>

    <%= link_to 'Back', projects_path, class: "waves-effect waves-light btn teal accent-4" %>
    </div>
</div>
